<!DOCTYPE html>
{% load cms_tags menu_tags sekizai_tags static %}


{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}

	{% placeholder "content" or %}
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<link rel="stylesheet" href="css/style.css">
	<title>Bootstrap Theme</title>
</head>

<body>
	<nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
		<div class="container"> <a href="/home" class="navbar-brand">Blogen</a>
			<button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse"> <span class="navbar-toggler-icon"></span> </button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav">
					<li class="nav-item px-2"> <a href="/blogadmin/adminboard" class="nav-link active">Dashboard</a> </li>
					<li class="nav-item px-2"> <a href="/blogadmin/category" class="nav-link">Categories</a> </ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item dropdown mr-3">
						<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"> <i class="fas fa-user"></i> Welcome {{blogadmin.name}} </a>
						<div class="dropdown-menu">
							<a href="profile.html" class="dropdown-item"> <i class="fas fa-user-circle"></i> Profile </a>
							<a href="settings.html" class="dropdown-item"> <i class="fas fa-cog"></i> Settings </a>
						</div>
					</li>
					<li class="nav-item">
						<a href="/admin" class="nav-link"> <i class="fas fa-user-times"></i> Logout </a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- HEADER -->
	<header id="main-header" class="py-2 bg-primary text-white">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h1>
            <i class="fas fa-cog"></i> Dashboard</h1> </div>
			</div>
		</div>
	</header>
	<!-- ACTIONS -->
	<section id="actions" class="py-4 mb-4 bg-light">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<a href="#" class="btn btn-success btn-block" data-toggle="modal" data-target="#addCategoryModal"> <i class="fas fa-plus"></i> Add Category </a>
				</div>
			</div>
		</div>
	</section>
	<!-- POSTS -->
	<section id="posts">
		<div class="container">
			<div class="row">
				<div class="col-md-11">
					<div class="card">
						<div class="card-header">
							<h4>Latest Posts</h4> </div>
						<table class="table table-striped">
							<thead class="thead-dark">
								<tr>
									<th scope="col">Name</th>
									<th scope="col">Category</th>
									<th scope="col">Title</th>
									<th scope="col">Description</th>
									<th scope="col">Created_date</th>
									<th scope="col"></th>
									<th scope="col"></th>
								</tr>
							</thead>
							<tbody> {% for post in posts %}
								<tr> {% for user in username %} {% if post.user_id == user.user_id %}
									<td>{{ user.name}} </td> {% endif %} {% endfor %} {% for catn in category %} {% if post.category_id == catn.category_id %}
									<td>{{catn.category_name}} </td> {% endif %} {% endfor %}
									<td>{{post.title}}</td>
									<td>{{post.description}}</td>
									<td> {{post.date_created}} </td>
									<td>
										<form action="/blogadmin/deletebyadmin/{{post.id}}/" method="POST">
											{% csrf_token %}
											<button name="a" value="{{post.id}}">Delet</button>
										</form>
									</td>
									<td>
										<form action="/{{post.id}}/" method="POST">
											{% csrf_token %}
											<button class="btn btn-secondary" name="b" value="{{post.id}}"> <i class="fas fa-angle-double-right">Details</i> </button>
										</form>

									</td>
								</tr> {% endfor %} </tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		</div>
	</section>
	<!-- FOOTER -->
	<footer id="main-footer" class="bg-dark text-white mt-5 p-5">
		<div class="container">
			<div class="row">
				<div class="col">
					<p class="lead text-center"> Copyright &copy; <span id="year"></span> Blogen </p>
				</div>
			</div>
		</div>
	</footer>
	<!-- ADD CATEGORY MODAL -->
	<div class="modal fade" id="addCategoryModal">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header bg-success text-white">
					<h5 class="modal-title">Add Category</h5>
					<button class="close" data-dismiss="modal"> <span>&times;</span> </button>
				</div>
				<div class="modal-body">
					<form method="POST" action="/blogadmin/add_category/">
						{% csrf_token %}
						<div class="form-group">
							<label for="title">Title</label>
							<input type="text" class="form-control" id="name" name="name" /> </div>
						<div class="modal-footer">
							<input class="btn btn-success" type="submit" /> </div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
	<script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>
</body>

</html>

	{% endplaceholder %}
{% endblock content %}
<!--&lt;!&ndash; MODALS &ndash;&gt;-->
<!--        <div class="col-md-3">-->
<!--          <div class="card text-center bg-primary text-white mb-3">-->
<!--            <div class="card-body">-->
<!--              <h3>Posts</h3>-->
<!--              <h4 class="display-4">-->
<!--                <i class="fas fa-pencil-alt"></i> 6-->
<!--              </h4>-->
<!--              <a href="posts.html" class="btn btn-outline-light btn-sm">View</a>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="card text-center bg-success text-white mb-3">-->
<!--            <div class="card-body">-->
<!--              <h3>Categories</h3>-->
<!--              <h4 class="display-4">-->
<!--                <i class="fas fa-folder"></i> 4-->
<!--              </h4>-->
<!--              <a href="categories.html" class="btn btn-outline-light btn-sm">View</a>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="card text-center bg-warning text-white mb-3">-->
<!--            <div class="card-body">-->
<!--              <h3>Users</h3>-->
<!--              <h4 class="display-4">-->
<!--                <i class="fas fa-users"></i> 4-->
<!--              </h4>-->
<!--              <a href="users.html" class="btn btn-outline-light btn-sm">View</a>-->
<!--            </div>-->
<!--          </div>
